.footer-basic {
  /* margin-top: 15px; */
  text-align: center;
  font-size: 16px;
  color: #f1eeee;
  margin-bottom: 0;
  background: #465765;
  padding: 20px;
}

.footer-basic .copyright {
  text-align: center;
  font-size: 16px;
  color: #f1eeee;
  margin-bottom: 0;
  background: #465765;
  padding: 20px;
}

